<!DOCTYPE html>
<head>
	<title>SWE4713<% if (title) {%> - <%=title%><%}%></title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	
	<link rel="stylesheet" href="/bower_components/bootstrap-css-only/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/app.css">
	
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<%- include('menu') %>
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">