<%- include('partials/header') %>

<center>
	<h1>404 - Page Not Found</h1><br>
	<h3 class="text-muted">Please don't do this to me. Go to the right page</h3>
</center>

<%- include('partials/footer') %>