<%- include('partials/header') %>

<div class="row">
	<div class="col-xs-6">
		<span class="title">Entries</span>
	</div>
	<div class="col-xs-6 text-right">
		<a class="btn btn-primary" href="/entry/new">New Entry</a>
	</div>
</div>
<table class="table table-condensed">
	<thead>
		<tr>
			<th class="sort col-xs-2" data-column="CreatedDate">Date</th>
			<th class="sort" data-column="Description">Detail</th>
			<th class="text-right">Debit</th>
			<th class="text-right">Credit</th>
			<th class="sort text-right" data-column="State" style="width:200px">Status</th>
			<th></th>
		</tr>
	</thead>
	<% for (var entry of entries) { %>
		<%- include partials/entry %>
	<% } %>
	<% if (entries.length == 0) { %>
		<tr><td colspan="7" class="text-center text-muted">No entries</td></tr>
	<% } %>
</table>
<%- include partials/paginator %>

<script>
	function post(entryId) {
		if (!confirm("Are you sure you want to post this entry? This will post it to the accounts and cannot be undone.")) return;
		
		$.ajax({
			method: "POST",
			url: "/entry/" + entryId + "/approve",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function () {
				location.reload();
			},
			error: function (request, status, error) {
				console.error(error);
				$("#error").show().text(request.responseText);
			}			
		})
	}
	
	function decline(entryId) {
		var p = prompt("Are you sure you want to decline this entry? This cannot be undone.\nPlease give a reason if you wish to continue.");
		if (!p) return;
		
		$.ajax({
			method: "POST",
			url: "/entry/" + entryId + "/decline",
			data: JSON.stringify({
				DeclinedReason: p
			}),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function () {
				location.reload();
			},
			error: function (request, status, error) {
				console.error(error);
				$("#error").show().text(request.responseText);
			}			
		})
	}
</script>

<%- include('partials/footer') %>